<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.cmput301w13t04.food"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="com.github.cmput301w13t04.food" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityViewRecipe"
            android:label="@string/title_activity_view_recipe" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="reasonablerecipes.com"
                    android:scheme="http" />
                <data
                    android:host="www.reasonablerecipes.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityViewIngredient"
            android:label="@string/title_activity_view_ingredient" >
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityManageIngredient"
            android:label="@string/title_activity_manage_ingredient" >
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityViewRecipeList"
            android:label="@string/title_activity_view_recipe_list"
            android:parentActivityName="com.github.cmput301w13t04.food.view.ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.cmput301w13t04.food.MainActivity" />
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityViewIngredientList"
            android:label="@string/title_activity_view_ingredient_list"
            android:parentActivityName="com.github.cmput301w13t04.food.view.ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.cmput301w13t04.food.MainActivity" />
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityTakePhoto"
            android:label="@string/title_activity_photo_intent" >
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityManageRecipe"
            android:label="@string/title_activity_activity_manage_recipe" >
        </activity>
        <activity
            android:name="com.github.cmput301w13t04.food.view.ActivityManageStep"
            android:label="@string/title_activity_activity_manage_step"
            android:parentActivityName="com.github.cmput301w13t04.food.view.ActivityManageRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.cmput301w13t04.food.view.ActivityManageRecipe" />
        </activity>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>